[submodule "docs/GPS-22429/SparkFun_RTK_Reference_Station"]
	path = docs/GPS-22429/SparkFun_RTK_Reference_Station
	url = https://github.com/sparkfun/SparkFun_RTK_Reference_Station.git
[submodule "docs/GPS-22429/SparkFun_GNSS_Timing-ZED-F9T"]
	path = docs/GPS-22429/SparkFun_GNSS_Timing-ZED-F9T
	url = https://github.com/sparkfun/SparkFun_GNSS_Timing-ZED-F9T.git
[submodule "docs/GPS-18774/SparkFun_GNSS_Timing-ZED-F9T"]
	path = docs/GPS-18774/SparkFun_GNSS_Timing-ZED-F9T
	url = https://github.com/sparkfun/SparkFun_GNSS_Timing-ZED-F9T.git
[submodule "docs/TAP/Time-Appliance-Project"]
	path = docs/TAP/Time-Appliance-Project
	url = https://github.com/opencomputeproject/Time-Appliance-Project.git
[submodule "docs/GPS-18774/SparkFun_u-blox_GNSS_Arduino_Library"]
	path = docs/GPS-18774/SparkFun_u-blox_GNSS_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_u-blox_GNSS_Arduino_Library.git
[submodule "docs/NTRIP/awesome-gnss"]
	path = docs/NTRIP/awesome-gnss
	url = https://github.com/barbeau/awesome-gnss.git
[submodule "docs/NTRIP/zedf9p-server"]
	path = docs/NTRIP/zedf9p-server
	url = https://github.com/anking/zedf9p-server.git
[submodule "docs/RTCM/RTCM3"]
	path = docs/RTCM/RTCM3
	url = https://github.com/uuiitwp/RTCM3.git
[submodule "docs/RTCM/asv-gnss"]
	path = docs/RTCM/asv-gnss
	url = https://github.com/asv-soft/asv-gnss.git
[submodule "docs/GPS-18774/SparkFun_u-blox_GNSS_v3"]
	path = docs/GPS-18774/SparkFun_u-blox_GNSS_v3
	url = https://github.com/sparkfun/SparkFun_u-blox_GNSS_v3
[submodule "samples/gnss-sdr-cttc"]
	path = samples/gnss-sdr-cttc
	url = https://git.code.sf.net/p/gnss-sdr/cttc
[submodule "docs/RTKLIB/RTKLIB"]
	path = docs/RTKLIB/RTKLIB
	url = https://github.com/tomojitakasu/RTKLIB.git
[submodule "samples/iGPS"]
	path = samples/iGPS
	url = https://github.com/igps-ftk/iGPS.git
[submodule "samples/odtbx-git"]
	path = samples/odtbx-git
	url = https://git.code.sf.net/p/odtbx/git
[submodule "samples/ppp-tools"]
	path = samples/ppp-tools
	url = https://github.com/aewallin/ppp-tools
